html,
body {
	width: 100%;
	height: 100%;
}
body {
	font-size: 16px;
}
:root {
	--menu-width: 200px;
	--menu-dwidth: 17px;
}

/* 固定高度header or footer */
.flexd-height {
	height: 60px;
}

#app,
#app .el-container {
	height: 100%;
}

/* aside侧边栏及menuNav */
.aside.el-aside {
	min-width: 200px;
	width: 200px;
	border-right: 1px #000000 solid;
	box-sizing: content-box;
	-moz-user-select: none;
	/*火狐*/
	-webkit-user-select: none;
	/*webkit浏览器*/
	-ms-user-select: none;
	/*IE10*/
	-khtml-user-select: none;
	/*早期浏览器*/
	user-select: none;
}
/* dark:#001529;light:#fff */
.aside.el-aside.light {
	background-color: #ffffff;
	/* animation: color-to-light .3s; */
}
/* .aside.el-aside.dark * {
	background-color: #001529;
} */
.aside.el-aside.dark li,
.aside.el-aside.dark {
	background-color: #001529;
	/* animation: color-to-dark .3s; */
}
/* aside的背景色过渡动画 */
@keyframes color-to-light {
	0% {
		background-color: #001529;
	}
	100% {
		background-color: #ffffff;
	}
}

@keyframes color-to-dark {
	0% {
		background-color: #ffffff;
	}
	100% {
		background-color: #001529;
	}
}

.aside-menu-fade-in {
	animation: menu-item-fade-in 0.3s;
	/* animation: menu-item-fade-in 5s; */
}

.aside-menu-fade-out {
	animation: menu-item-fade-out 0.3s;
	/* animation: menu-item-fade-out 5s; */
}

@keyframes menu-item-fade-out {
	0% {
		height: 0px;
		opacity: 0;
	}
	10% {
		opacity: 0.85;
	}
}

@keyframes menu-item-fade-in {
	10% {
		opacity: 0.85;
	}
	to {
		height: 0px;
		opacity: 0;
	}
}
/* 初始值 */
.aside.el-aside.light .el-submenu {
	color: #001529;
}

.aside.el-aside.light li svg path {
	fill: #001529;
}

.aside.el-aside.dark li {
	color: rgb(199, 196, 196);
}

.aside.el-aside.dark li svg path {
	fill: rgb(199, 196, 196);
}
/* hover事件 */
/* .aside.el-aside li:hover .el-submenu__title > svg path, */
.aside.el-aside.light li:hover .el-submenu__title svg path,
.aside.el-aside.light li:hover .el-menu-item-group svg path {
	fill: #32a6e3;
}

.aside.el-aside.light li:hover .el-submenu__title,
.aside li:hover .el-submenu__title {
	color: #32a6e3;
}

.aside.el-aside.dark li:hover .el-submenu__title > svg path {
	fill: #ffffff;
}

.aside.el-aside.dark li:hover .el-submenu__title,
.aside.el-aside.dark li:hover {
	color: #ffffff;
	background-color: #001529;
}

/*  */
.aside.el-aside .hidden_scroll {
	height: 100%;
	min-width: 200px;
	max-width: 200px;
	overflow: hidden;
}

.aside.el-aside .hidden_scroll .navMenu {
	height: 100%;
	width: calc(var(--menu-width) + var(--menu-dwidth));
	overflow-y: scroll;
	overflow-x: hidden;
}

.aside ul[role="menu"] {
	overflow: hidden;
}

.aside .el-submenu .el-submenu__title {
	color: inherit;
	padding-left: 20px;
	position: relative;
}

/* el-menu-item-group */
/* 仅google支持的滚动条自定义 */
/* .aside > div::-webkit-scrollbar {
	width: 6px;
	background-color: transparent;
}

.aside:hover div::-webkit-scrollbar {
	background-color: transparent;
}

.aside:hover div::-webkit-scrollbar-thumb {
	background-color: #bfbabb;
}

.aside > div::-webkit-scrollbar-thumb {
	background-color: transparent;
}

.el-header.flexd-height {
	background-color: rgb(250, 250, 250);
	box-shadow: rgba(0, 21, 41, 0.08) 0px 1px 4px 0px;
} */

/* horizontal  Vertical 水平垂直居中*/
.is-center--flex {
	display: flex;
	align-items: center;
	justify-content: center;
	/* position: relative; */
}

.is-center--parent {
	position: inherit;
}

.is-center--child {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* message or notify的同步上升动画时间 */
.el-mssage-info-step-move {
	transition: top 0.1s;
}

.arrow {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/* 一级menu的arrow */
.arrow.class-menu-arrow {
	width: 20px;
	height: 20px;
	left: 160px;
}

.arrow.class-menu-arrow svg {
	position: inherit;
}

/* 二级menuItem */
.el-menu-item-group .arrow.class-menu-arrow {
	width: 14px;
	height: 14px;
}

.el-menu-item-group div {
	position: relative;
}
.arrow-roll-begining {
	transform: rotate(90deg);
	transition: transform 0.3s;
}

.arrow-roll-clicked {
	transform: rotate(-90deg);
	transition: transform 0.3s;
}

/* li:hover .aside .el-submenu__title {
	color: #32a6e3;
} */

/* header部分 */
.el-header .el-header-item {
	line-height: 60px;
	/* padding: 0 20px; */
	margin-right: 40px;
}

.is-center-child.header--title {
	height: 100%;
	line-height: 60px;
	padding: 0 10px;
}

.header--title span a {
	color: #000000;
}
.header--title span a:hover {
	color: blue;
}

.el-header-item.right div[title] {
	padding: 0 20px;
}

.el-header-item.dropdown-trigger:hover {
	background-color: #bfbabb;
	cursor: pointer;
}

/* dropdown change menuBackfroundColor */
.change-cloth {
	position: absolute;
	top: 63px;
	right: 20px;
	z-index: 100;
	background-color: #ffffff;
	font-size: 13px;
	line-height: 22px;
	padding: 5px 0;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
}

.dropdown--menuitem {
	padding: 5px 12px;
}

/* div[role="dropdown--menu"]{
	display: block;
} */
.dropdown--menuitem:hover {
	cursor: pointer;
	background-color: rgb(240, 245, 255);
	/* color:#4368fa; */
}

.dropdown--menuitem-selected {
	/* font-weight: 200; */
	color: #4368fa;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.dropdown-menuitem-divider {
	height: 1px;
	background-color: #000000;
	margin: 4px 0;
}

/* main */
.el-main.is-center-parent {
	user-select: none;
}
/* 登录部分 */
.left.loginBox {
	border-top: 1px solid #001529;
	width: 100%;
	height: 150px;
	/* background-color: #4368fa; */
	margin-top: 10px;
}

.left.loginBox .userName,
.left.loginBox .passWord {
	margin-top: 25px;
}

.left.loginBox .userName input,
.left.loginBox .passWord input {
	font-size: 16px;
	outline: none;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid #001529;
}

.left.loginBox .userName input:focus,
.left.loginBox .passWord input:focus {
	border-bottom-color: #4368fa;
	color: #4368fa;
}
.left.loginBox .loginTittle {
	height: 0px;
}

.left.loginBox div span[class="animation--up"] {
	animation: animation-login--up 0.3s cubic-bezier(0.72, 1.95, 0.36, 0.62);
	position: relative;
	/* top: 0; */
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: 600;
	color: #4368fa;
}

.left.loginBox div span[class="animation--down"] {
	animation: animation-login--down 0.3s;
	position: relative;
	/* top: 0; */
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: normal;
	color: #666;
}

@keyframes animation-login--up {
	0% {
		top: 0;
	}
	100% {
		top: -20px;
	}
}
@keyframes animation-login--down {
	0% {
		top: -20px;
	}
	100% {
		top: 0;
	}
}

.left.loginBox .userName span:first-child,
.left.loginBox .passWord span:first-child {
	padding-left: 2px;
}
/* placeholder的字体颜色及兼容写法 */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #666;
	font-size: 16px;
	/* font-family: "微软雅黑";
	font-weight: 600; */
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #666;
	font-size: 16px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #666;
	font-size: 16px;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #666;
	font-size: 16px;
}
